:root {
    --Blue-Soft:  #2b1d7c; 
    --Blue-Dark:  #2b1ea1;
    --Blue:  #0b9ade;
    --Blue-Medium:  #3f4dbb;
    --Yellow:  #e9ec36;
    --White-soft:  #E6E5E7;
    --White:  #ffffff;
    --Gray: #dcdcdc;
}

*{
    margin:  0px;
    padding:  0px;
    box-sizing:  border-box;
    font-size:  62.5%;
    font-family: Verdana, sans-serif, 'Times New Roman';
}
::-webkit-scrollbar {
    width:  11px;
  }
  
::-webkit-scrollbar-track {
    background-color:  var(--White);
  }
  
::-webkit-scrollbar-thumb {
    background-color:  var(--White-soft);
  }
  
::-webkit-scrollbar-thumb:hover {
    background-color:  #555;
  }
  
a{ 
    cursor: pointer;
    transition:  200ms; 
    -webkit-transition:  color 0.7s ease-in; /*safari and chrome */
    -moz-transition:  color 0.7s ease-in; /* firefox */
    -o-transition:  color 0.7s ease-in; /* opera */
}
li {
    display: flex;
    text-align: -webkit-match-parent;
}

header{
    width:  100%;
    height:  15vh;
    display:  flex;
    font-size:  11.5rem;
    background-color: var(--White);
    align-items:  center;
    }
   
    .header__img--logo{
    margin: 0 0 0 2vw;
    width: 150px;
    height:  auto;
    padding-bottom: 2px;
    justify-content:  start;
    display:  flex;
    }

    nav{
      width: 100%;
    }

    .header__ul{
    width: 100%;
    display:  flex;
    color:  var(--White);
    list-style:  none;
    align-items:  center;
    justify-content: center;
    flex-wrap: wrap;
    }

    .header__ul > li{
    padding: 1.5vw 4vw;
    transition: 700ms ease;
    }

    .header__ul > li a{
    text-decoration:  none;
    transition: 500ms ease;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    }

    .header__ul > li a:hover{
    color:  var(--Gray);
    transform: scale(1.3);
    padding: 5vh 25px;
    background-color: var(--Blue);
    border: 0.5px solid black;
    }

    aside{
    width:  100%;
    height:  50vh;
    background-color:  var(--Blue);
    display:  flex;
    flex-direction:  row;
    justify-content:  space-between;
    position: relative;
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    }
  
    .aside__texto{
    max-width:  50%;
    padding:  0 2rem;
    display:  flex;
    flex-direction:  column;
    align-items:  flex-start;
    color: var(--White);
    }
  
    .aside__titulo{
    font-size: 4vw;
    color:  var(--White);
    margin-top:  2rem;
    position: relative;
    }
  
    .aside__parrafo{
    font-size:  2.5rem;
    margin:  0;
    margin-top: 3vw;
    font-family: 'Times New Roman', Times, serif;
    }


    main {
      width: 95%;
      height: auto;
      background-color: var(--White);
      padding: 10px 20px 0 20px;
      text-align: center; /* Centro el texto dentro del main */
  }
  
  .main__titulo {
      font-size: 2vw;
      margin-bottom: 20px;
      color: var(--Blue);
  }
  
  .article__card {
      width: 320px;
      height: 400px;
      background-color: var(--White-soft);
      display: inline-block;
      margin-bottom: 50px;
      transform-style: preserve-3d;
      position: relative;
      transition: 500ms ease-in-out;
      transition-delay: 500ms;
      margin: 15px 35px;
      border-radius: 10px;
  }
  
  .article__card:hover {
      transform: rotateX(180deg);
  }
  
  .face {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      overflow: hidden;
  }
  
  .face.article__card--back {
      transform: rotateX(180deg);
      background-color: var(--Blue);
      border-radius: 12px;
  }
  
  .card__img {
      display: block;
      background-image: url("../imagenes/imagen-generica.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 100%;
      height: 250px;
  }
  
  .article__card h1 {
      font-size: 3.2rem;
      font-family: 'Oswald', sans-serif;
      padding-bottom: 5px;
      margin-top: 4px;
  }
  
  .article__card h3 {
      font-size: 1.8rem;
      font-family: 'Oswald', sans-serif;
      padding-bottom: 10px;
  }
  
  .article__card p {
      font-size: 1.2rem;
      font-family: 'Oswald', sans-serif;
      margin: 0 12px;
  }
  footer{
   width: 100%;
   height: 100%;
   background-color: var(--Blue);
   display: flex;
   flex-direction: row;
   justify-content: center;
}

   footer nav img{
    width: 150px;
    height:  auto;
    padding-bottom: 2px;
    justify-content: start;
    display: flex;
   }
.footer_ul{

}