nav
        ul.header__ul
            li
                a(href=".././html de profi/alerta.html" target="_blank") Edições
            li
                a(href="https://www.instagram.com/ontecla.coimbra/?hl=en" target="_blank") Instagram
            li
                a(href="https://www.youtube.com/@onteclacoimbra2317" target="_blank") Youtube 
            li
                a(href= "https://www.profitecla.pt/a-profitecla/a-escola/quem-somos/" target="_blank") Escola